<div class="card w-25" style="width: auto; margin: auto auto;">
  <div class="card-body">
    <h5 class="card-title">TINTES LUZANDER</h5>
    <form (ngSubmit)="iniciarSesion()" novalidate>
      <div class="form-group">
        <input type="email" class="form-control"
                name="correo"
                placeholder="Ingrese su correo"
                [(ngModel)] = "correo">
      </div>
      <div class="form-group">
        <input type="password"
                class="form-control"
                name="password"
                placeholder="Contraseña"
                [(ngModel)] = "password">
      </div>
      <button type="submit" class="btn btn-primary btn-block">Iniciar Sesión</button>
    </form>
  </div>
</div>
