<h1 class="animated fadeIn">{{producto.ProductoNombre}}</h1>
<hr>
<div class="row animated fadeIn">
  <div class="col-5">
    <img [src]="'/assets/img/p1.jpg'" alt="" width="400">
  </div>
  <div class="col-7">
    <h2>Descripción</h2>
    <p>{{producto.ProductosDescripcion}}</p>
    <!-- <div *ngIf="pelicula.tagline">
      <h2>Frase Célebre</h2>
      <p>{{pelicula.tagline}}</p>
    </div> -->
    <p>Tipo: <span class="badge badge-primary">{{producto.tipo}}</span></p>
    <p>Precio: <span class="badge badge-success">{{producto.ProductoPrecioUnitario}}.00</span></p>
    <button type="button" class="btn btn-outline-danger"
            (click)="regresar()">
      <i class="fas fa-angle-left"></i>&nbsp;Regresar
    </button>
    &nbsp;
    <button type="button" class="btn btn-outline-success">
      <i class="far fa-credit-card"></i>&nbsp;Comprar
    </button>
    &nbsp;
    <button type="button"
            class="btn btn-outline-primary"
            (click)="llenarCarrito()">  
      <i class="fas fa-shopping-cart"></i>&nbsp;Añadir al carrito
    </button>
  </div>
</div>
