
<div class="container">
  <div class="info">
    <h1>Registro</h1><span>SICETIL</span>
  </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="assets/img/ecommerce.png"/></div>
  <form class="registro-form">
    <input type="text" placeholder="nombre"/>
    <input type="text" placeholder="apellidos"/>
    <input type="email" placeholder="correo electr&oacute;nico"/>
    <input type="password" placeholder="contrase&ntilde;a"/>
    <input type="password" placeholder="repite la contrase&ntilde;a"/>
    <button>Registrar</button>
    <p class="message">Ya estas registrado? <a href="#">Iniciar Sesión</a></p>
  </form>
</div>
