<div class="container">
  <h2 class="animated fast fadeIn">Productos</h2>
  <hr>
  <div class="card-columns animated fadeIn">
    <div class="card puntero" (click)="mostrarProducto()">
      <img src="assets/img/p1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Producto 1</h5>
        <p class="card-text">Descripcion del producto</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/p2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Producto 1</h5>
        <p class="card-text">Descripcion del producto</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/p3.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Producto 1</h5>
        <p class="card-text">Descripcion del producto</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/p4.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Producto 1</h5>
        <p class="card-text">Descripcion del producto</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/p5.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Producto 1</h5>
        <p class="card-text">Descripcion del producto</p>
      </div>
    </div>

    <div class="card">
      <img src="assets/img/p7.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Producto 1</h5>
        <p class="card-text">Descripcion del producto</p>
      </div>
    </div>
  </div>
</div>
