<header>
  <h1>NOSOTROS</h1>
</header>
<hr>
<section >
  <div class="container" s>
    <div class="col-xs-6">
          <div class="col-xs-6">
            <div class="alert alert-dismissible alert-secondary">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Bienvenido! </strong> En esta seccion podra conocernos mejor
          </div>
          <div class="jumbotron">
            <h1 class="display-3">Tintes Luzander</h1>
            <p class="lead">Somos una empresa dedicada la producción y distribución de tintes, barniz y afines para cuero, calzado y todo lo demás de la clase, también fabricamos envases de  plásticos que usa para embotellar sus productos y para vender a otras empresas que se dedican a la fabricación de tintes de calzado. Nuestra oficina administrativa se encuentra ubicada en sector 6, grupo 6, manzana F, lote 20, en el distrito de Villa el Salvador, provincia de Lima, Perú.</p>
           </div>
           <div class="jumbotron" align="center">
            <img src="https://laopinionla.files.wordpress.com/2018/02/calzado.jpg?quality=80&strip=all&w=815" alt="">
           </div>
           <div class="row" >
             <div class="card text-white bg-primary mb-3" style="max-width: 35rem;">
              <div class="card-header">Mision</div>
              <div class="card-body">
                <h4 class="card-title">Misión</h4>
                <p class="card-text">Somos una empresa comprometida en satisfacer las necesidades de nuestros clientes, fabricando tintes para calzado de la mejor calidad en el sector industrial cumpliendo todos los principios éticos y de responsabilidad ambiental.</p>
              </div>
            </div>
            <div class="card text-white bg-dark mb-3" style="max-width: 35rem;">
              <div class="card-header">Vision</div>
              <div class="card-body">
                <h4 class="card-title">Visión</h4>
                <p class="card-text">Ser la empresa nacional más reconocida, admirada y valorada dentro de la industria, así como un importante contribuidor de valor en la fabricación de tintes de calzado </p>
              </div>
            </div>

           </div>

        </div>
    </div>
  </div>
</section>
