<div class="contenido abrir">
  <header>
        <h1>Clientes</h1>
      </header>
      <section >
        <div class="container" >
          <div class="col-xs-6">
                <div class="col-xs-6">
                  <div class="alert alert-dismissible alert-secondary">
                  <button type="button" class="close" data-dismiss="alert">&times;</button>
                 <h2 class="display-3">Lista de Clientes</h2>
                </div>
                <div class="jumbotron">
                  <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido P.</th>
                        <th scope="col">Apellido M.</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Email</th>
                        <th scope="col">Direccion</th>
                      </tr>
                    </thead>
                    <tbody class="">
                      <tr *ngFor="let usuario of usuarios">
                        <th scope="row">100</th>
                        <td>{{usuario.nombreUsusario}}</td>
                        <td>{{usuario.apellidoPaternoUsuario}}</td>
                        <td>{{usuario.apellidoMaternoUsuario}}</td>
                        <td>{{usuario.telefonousuario}}</td>
                        <td>{{usuario.emailUsuario}}</td>
                        <td>{{usuario.DireccionUsuario}}</td>
                      </tr>

                    </tbody>
                  </table>
                 </div>


                  </div>

                 </div>

              </div>

      </section>

</div>
