<div class="contenido abrir">
  <div class="container">
  	<div>
  		<br><br><br>
  		<h1>Boletas de Ventas y Facturas</h1>
  		<br><br>
  	</div>
  	<div>

  		<table class="table table-bordered">
  		  <thead class="thead-dark">
  		    <tr class="table-secundary">
  		      <th scope="col">ID</th>
  		      <th scope="col">TIPO</th>
  		      <th scope="col">CLIENTE</th>
  		      <th scope="col">MONTO</th>
  		      <th scope="col">VER DETALLE</th>
  		    </tr>
  		  </thead>
  		  <tbody>
  		    <tr>
  								<td>1</td>
  								<td>BOLETA</td>
  								<td>DIEGO DAVILA</td>
  								<td>S/. 840.00</td>
  								<td>
  									<button type="button" class="btn btn-info"
                              data-toggle="modal" data-target="#miModal">
  				                  		<i class="fas fa-align-justify"></i>
  				                	</button>
  								</td>
  							</tr>
  							<tr>
  								<td>2</td>
  								<td>FACTURA</td>
  								<td>MARIA DE LA CRUZ</td>
  								<td>S/. 400.00</td>
  								<td>
  									<button type="button"
  				                        class="btn btn-info">
  				                  		<i class="fas fa-align-justify"></i>
  				                	</button>
  								</td>
  							</tr>
  							<tr>
  								<td>3</td>
  								<td>BOLETA</td>
  								<td>JAZMIN GUTIERREZ</td>
  								<td>S/. 300.00</td>
  								<td>
  									<button type="button"
  				                        class="btn btn-info">
  				                  		<i class="fas fa-align-justify"></i>
  				                	</button>
  								</td>
  							</tr>
  							<tr>
  								<td>4</td>
  								<td>BOLETA</td>
  								<td>JUAN CUSICUNA</td>
  								<td>S/. 560.00</td>
  								<td>
  									<button type="button"
  				                        class="btn btn-info">
  				                  		<i class="fas fa-align-justify"></i>
  				                	</button>
  								</td>
  							</tr>
  		  </tbody>
  		</table>
  	</div>

  </div>
</div>



<div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="myModalLabel">Esto es un modal</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>
    <div class="modal-body">
      Texto del modal
    </div>
  </div>
</div>
</div>
